/* COLOURS DEFINITION */

:root {
	--background-main: #2F287D;
	--main-darker: #12122e;
	--orange: #FF9950;
	--white: whitesmoke;
	--green: #56E39F;
}

/* END OF COLOURS DEFINITION */

/* =============================================== */

html{
	background-color: var(--background-main);
	color: var(--white);
}

.is-flex{
	display: flex;
}

#profile-pic img{
	height: 190x; 
	width: 190px; 
	border-radius: 100%; 
	border: solid 8px var(--orange);
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* =============================================== */

/* GREET BOX */

.greet {
	margin-left: 40px;
	font-family: 'JetBrainsMono';
}

.greet h1 {
	font-size: 4.2em;
	font-weight: 700;
	margin: 0px;
}

.greet h2 {
	font-size: 2.1em;
	font-weight: bold;
	margin: 0px;
}

.greet h3 {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0px;
}

/* END OF GREET BOX */

/* =============================================== */

/* GENERIC INFO SECTION */

.generic-info{
	margin-top: 40px;
}

/* END OF GENERIC INFO SECTION */

/* =============================================== */

/* TERMINAL WINDOW */

.terminal {
	font-family: 'JetBrainsMono';
	font-weight: 200;
	background-color: var(--main-darker);
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.6), 0 0 0 1px rgba(10,10,10,.02);
    color: #838181;
    display: block;
    padding: 1.25rem;
}

.terminal-buttons {
	margin-bottom: 1rem;
}

.terminal .terminal-buttons span{
	margin-inline-end: 10px;
    padding: 2px;
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 100%;
}

.terminal .terminal-buttons span:nth-child(1) { background: linear-gradient(rgb(255,0,0),rgb(255,81,0)); }
.terminal .terminal-buttons span:nth-child(2) { background: linear-gradient(rgb(255,145,0),rgb(255,230,0)); }
.terminal .terminal-buttons span:nth-child(3) { background: linear-gradient(rgb(6,184,0),rgb(0,255,85)); }

/* END OF TERMINAL WINDOW */

/* =============================================== */

/* "CONTACT ME" FIELDS*/
.field {
	position: relative;
	height: 52px;
	width: 100%;
	max-width: 150px;
	color: var(--white);
	overflow: hidden;
}

.field input {
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
	line-height: 52px;
	outline: 0;
	background-color: inherit;
	padding-top: 25px;
	border: none;
	box-sizing: border-box;
}

.field .label-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	background-color: inherit;
	left: 0;
	pointer-events: none;
	border-bottom: 1px solid white;
}

.field .label-wrapper::after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #FF9950;
	left: 0;
	bottom: -1px;
	transform: translateX(-100%);
	transition: transform 0.2s ease;
}

.field .label-text{
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.2s ease;
}

.field input:focus + .label-wrapper .label-text,
.field input:valid + .label-wrapper .label-text{
	font-size: 12px;
	color: var(--orange);
	transform: translateY(-150%);
}

.field input:focus + .label-wrapper::after,
.field input:valid + .label-wrapper::after{
	transform: translateX(0%);	
}

/* END "CONTACT ME" */

/* =============================================== */

/* RESPONSIVE GRID */

/* .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -20px;
}

.col {
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
	background-color: red;
	height: 150px;
}

.col-md-11 {width: 91.662%;}
.col-md-10 {width: 83.332%;}
.col-md-9 {width: 75%;}
.col-md-8 {width: 66.662%;}
.col-md-7 {width: 58.331%;}
.col-md-6 {width: 50%;}
.col-md-5 {width: 41.662%;}
.col-md-4 {width: 33.332%;}
.col-md-3 {width: 25%;}
.col-md-2 {width: 16.662%;}
.col-md-1 {width: 8.332%;} */

/* END OF RESPONSIVE GRID */
