/* COLOURS DEFINITION */

:root {
	--background-main: #1D2030;
	--main-darker: #12122e;
	--orange: #FF9950;
	--white: whitesmoke;
	--green: #56E39F;
}

/* END OF COLOURS DEFINITION */

/* =============================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrainsMono', monospace;
  }
  
  body {
    color: var(--white);
    background-color: var(--background-main);
  }

#header-section {
    height: 5.2vh; /* 5.2% of the viewport height */
    display: flex;
    align-items: auto; /* Vertically center contents */
    padding: 0 20px; /* Padding around the contents */
  }
  
  #logo-placeholder {
    background-color: #00FF00; /* Temporary bright green background for visibility */
    padding: 10px;
    margin: 0 center; /* Horizontally center the logo */
    /* Add more styles for the logo as needed */
  }

 /* Introduction Section Styles */
#introduction-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 2em;
    background-image: url(../images/background.jpeg);
    background-size: cover;
    /* background-image: -webkit-linear-gradient(top, url(../images/background.jpeg) 0%, #590696 100%);  */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .profile {
    margin-right: 2em; /* Space between the image and the text */
  }

  .profile-pic {
    max-width: 190px; /* Maximum size of the profile image */
    max-height: 190px;
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    border: 5px solid orange;
    display: block; /* Remove if you want to keep inline characteristics */
  }

  .greet h1 {
	font-size: 4.2em;
	font-weight: 700;
	margin: 0;
  letter-spacing: normal;
}

.greet h2 {
	font-size: 2.1em;
	font-weight: bold;
	margin: 0;
}

.greet h3 {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
  
  .typewriter h1 {
	color: var(--white);
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid var(--green); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	
	animation: 
	  typing 3.5s steps(16, end),
	  blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }

/* Styles for the content section */
#content-section {
  padding-top: 20px; /* Space from the section above */
}

#content-section .separator {
  height: 2px;
  background-color: white;
  width: 50%; /* Matching the width of the profile picture + text block */
  margin: 20px auto; /* Center the separator and provide spacing */
}

#content-section .content-container {
  display: flex;
  justify-content: center; /* Centering the content block */
  align-items: flex-start;
  width: 50%; /* Same width as the profile picture + text block */
  margin: 0 auto; /* Centering the content container */
}

#content-section .left-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering the text box and icon links */
  width: 90%; /* Adjusted for space with navigation menu */
  margin-right: 20px; /* Space between the left content and the navigation menu */
}

#content-section .text-box {
  width: 100%; /* Take the full width of the left-content container */
  padding: 20px;
  margin-bottom: 20px; /* Space between the text box and icon links */
}

#content-section .icon-links {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Take the full width of the left-content container */
}


  /* TERMINAL STYLE */
  .terminal {
    background-color: #1a1a2e;
    border-radius: 0.8em;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.6), 0 0 0 1px rgba(10, 10, 10, .02);
    color: #838181;
    padding: 1rem;
    margin-left: -0.3em;
  }

  .terminal-content{
    white-space: nowrap; /* Keeps the content on a single line */
  }
  
  .terminal-buttons {
    display: flex; /* Align buttons horizontally */
    margin-bottom: 1rem;
  }
  
  .terminal-buttons span {
    height: 13px;
    width: 13px;
    border-radius: 100%;
    display: block;
  }

  .terminal-buttons span:not(:last-child) {
    margin-right: 8px; /* Adjust the value as needed */
  }
  
  .button-red { background: linear-gradient(rgb(255, 0, 0), rgb(255, 81, 0)); }
  .button-yellow { background: linear-gradient(rgb(255, 145, 0), rgb(255, 230, 0)); }
  .button-green { background: linear-gradient(rgb(6, 184, 0), rgb(0, 255, 85)); }
  
  .terminal ul {
    list-style: none; /* Remove default list style */
    padding-left: 0; /* Remove default padding */
  }
  
  .navigation-link a {
    text-decoration: none;
    color: #39FF14; /* Adjust the color to match your theme */
    margin-left: 0.8em;
  }
  
  .navigation-link a:hover {
    text-decoration: underline;
    font-weight: 600;
  }
  /* TERMINAL STYLE */
  
  /* Contact Section Styles */
#contact-section {
  text-align: center; /* Center the text within the section */
  padding: 2rem 0; /* Top and bottom padding */
}

#contact-section .separator {
  height: 3px;
  background-color: white; /* Color of the separator line */
  width: 50%; /* Width matching the two central columns */
  margin: 0 auto 1em; /* Centered with margin below */
}

#contact-section h2 {
  font-size: 1.5em; /* Adjust font-size as needed */
  color: white; /* Text color */
  margin: 0; /* Remove default margins */
  line-height: 1.5em; /* Set the line height to match the text height */
}

/* Contact Form Section Styles */

#input-fields-section {
  max-width: 50rem; /* Maximum width of the section */
  margin: 0 auto; /* Center the section */
}

.field-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between fields */
  width: 100%; /* Full width */
}

.field {
  position: relative;
  height: 3.25rem; /* Height relative to font size */
  color: var(--white);
  overflow: hidden;
}

.field input {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  line-height: 3.25rem; /* Line height relative to font size */
  outline: 0;
  background-color: inherit;
  padding-top: 1.25rem; /* Padding top relative to font size */
  border: none;
  box-sizing: border-box;
}

.field .label-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-bottom: 1px solid white;
}

.field .label-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}

.field .label-text {
  position: absolute;
  bottom: 0.3125rem; /* Bottom relative to font size */
  left: 0;
  transition: all 0.2s ease;
}

.field input:focus + .label-wrapper .label-text,
.field input:valid + .label-wrapper .label-text {
  font-size: 0.75rem; /* Smaller font size when input is focused or filled */
  color: var(--orange);
  transform: translateY(-150%);
}

.field input:focus + .label-wrapper::after,
.field input:valid + .label-wrapper::after {
  transform: translateX(0%);
}

.field.shorter{
  width: 70%;
}

.sender-section {
  display: flex;
  justify-content: center;
  gap: 1em; /* Space between the two sections */
}

#input-fields-section, #textarea-section {
  flex: 1; /* Each section takes up half of the available space */
}

#input-fields-section{
  max-width: 45%;
}

#textarea-section {
  display: flex;
  flex-direction: column;
  gap: 1em; /* Space between textarea and button */
}

textarea, button {
  width: 100%; /* Full width of their container */
  box-sizing: border-box; /* Include padding and border in the width */
}

.sender-section textarea {
  height: calc(3.25rem * 3 + 1.25rem); /* Height to match the input fields section */
  resize: none; /* Disable resizing */
  border-radius: 0.6em;
  background-color: #373c5a;
}

button {
  height: 1.8rem;
  border: 2px solid var(--orange);
  border-radius: 0.6em;
  background-color: transparent;
  color: var(--orange);
}

button:hover {
  color: var(--background-main);
  background-color: var(--orange);
  font-weight: bold;
}

.sender-container {
  display: flex;
  justify-content: center;
  gap: 2em; /* Space between the two sections */
  margin: 0 auto; /* Centering the container */
  width: 35%;
  margin-bottom: 1em;
}